### Inferential Statistics
<h4> Performing Hypothesis Tests </h4>

Calculate z-statistic and perform t-test.

In [30]:

import pandas as pd
import numpy as np

In [31]:
from sklearn.datasets import load_boston
from sklearn.utils import shuffle

boston = load_boston()
X, y = shuffle(boston.data, boston.target, random_state=13)

In [32]:
df = pd.DataFrame(boston.data,columns= boston['feature_names'])
df['target'] = boston.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

### Check if the sample mean differs from the population mean.

In [33]:

population_target = df.target
mu = population_target.mean()
sigma = population_target.std()
print("Population Mean:", mu,"\nPopulation std:", sigma)

Population Mean: 22.532806324110698
Population std: 9.19710408737982

In [34]:

sample_size = 100
sample = df.sample(n=sample_size, random_state=4).target
sample_mu = sample.mean()
sample_sigma = sample.std()
print("Sample Mean:", sample_mu,"\nSample std:", sample_sigma)

Sample Mean: 23.611
Sample std: 9.668514922576312

### Perform Null Hypothesis using Z-statistic

In [35]:
"""
Null Hypothesis: population mean = sample mean
"""
import math
from scipy import stats

#Step5: Calculate z-critical and z-statistic

#margin_of_error = z_critical * (pop_stdev/math.sqrt(sample_size))
z_critical = stats.norm.ppf(q = 0.975) #1.96
N = 100
SE = sigma/np.sqrt(N)
z_stat = (sample_mu - mu)/SE
print("Z-Statistic: ", z_stat)

print("Z-Critical: ", z_critical)

Z-Statistic:  1.1723186620979855
Z-Critical:  1.959963984540054

### One Sample T-test

In [36]:

stats.ttest_1samp(a= sample,                         # Sample data
                 popmean= population_target.mean())  # Pop mean

Ttest_1sampResult(statistic=1.1151595508961605, pvalue=0.2674817704191536)

In [37]:


sigma = sample.std()/math.sqrt(100)  # Sample stdev/sample size

stats.t.interval(0.95,                        # Confidence level
                 df = 49,                     # Degrees of freedom
                 loc = sample.mean(), # Sample mean
                 scale= sigma)

(21.66803918573013, 25.55396081426987)

### Two Sample T-test

In [38]:

sample2 = df.sample(n=100, random_state=88).target
sample_mu2 = sample2.mean()
sample_sigma2 = sample2.std()
print("Sample Mean2:", sample_mu2,"\nSample std2:", sample_sigma2)

Sample Mean2: 22.099
Sample std2: 8.587005628073483

In [39]:

print(stats.ttest_ind(a= sample,
                b= sample2,
                equal_var=False))  

"""
There is a 24% chance we'd see sample data this far apart 
if the two groups tested are actually identical
"""

Ttest_indResult(statistic=1.169261841237422, pvalue=0.24372341056286792)

"\nThere is a 24% chance we'd see sample data this far apart \nif the two groups tested are actually identical\n"